In [1]:
import pandas as pd

data_source = "/home/fra/DataMart/datacentre/opendata/UCI/"
train_file = "abalone.csv"

# load data
df = pd.read_csv(data_source + train_file)
df.head()

,sex,length,diameter,height,whole_wt,shucked_wt,viscera_wt,shell_wt,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

### load libary

In [2]:
import sys
mylib = '/home/fra/Project/pyProj/mlib'
sys.path.append(mylib)

In [3]:
import utility as ut
import explore as ex 
import model as ml
import pipeline as pl

### split train test

In [17]:
target = 'sex'
df.iloc[:, df.columns != target]

,length,diameter,height,whole_wt,shucked_wt,viscera_wt,shell_wt,rings
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...
4172,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [21]:
from sklearn.model_selection import train_test_split

In [32]:
from importlib import reload

In [35]:
reload(ut)

In [36]:
(X_train, y_train, X_test, y_test) = ut.df_train_test_split(df, 'sex')

In [37]:
X_train.head()

   length  diameter  height  whole_wt  shucked_wt  viscera_wt  shell_wt  rings
0   0.560     0.425   0.125    0.9320      0.3610      0.2130    0.3350    9.0
1   0.580     0.440   0.160    0.8295      0.3365      0.2005    0.2485    9.0
2   0.325     0.240   0.075    0.1550      0.0475      0.0355    0.0600    9.0
3   0.425     0.315   0.125    0.3525      0.1135      0.0565    0.1300   18.0
4   0.365     0.295   0.095    0.2500      0.1075      0.0545    0.0800    9.0

In [39]:
y_train.shape, y_test.shape

((3341,), (836,))

In [40]:
y_train

array(['F', 'M', 'M', ..., 'I', 'M', 'M'], dtype=object)

### Woe Encoder: binary only

In [46]:
data_source = "/home/fra/DataMart/datacentre/opendata/UCI/"
train_file = "processed.cleveland.csv"

# load data
df = pd.read_csv(data_source + train_file)
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slipe,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [47]:
data_source = "/home/fra/DataMart/datacentre/opendata/UCI/"
train_file = "breast-cancer-wisconsin.csv"

# load data
df = pd.read_csv(data_source + train_file)
df.head()

,id,clump,cell_size,cell_shape,adhesion,epithelial,nuclei,chromatin,nucleioli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

### TODO: Woe Pipeline

In [41]:
from category_encoders import WOEEncoder

In [44]:
woe = WOEEncoder(y_train)

In [48]:
# woe.fit(X_train, y_train)