In [1]:
import pandas as pd
import os, sys
mlibpath = '/home/fra/Project/pyProj/mlib'
sys.path.append(mlibpath)

In [7]:
data_file = "/home/fra/DataMart/datacentre/westpac/W_MYEDB_GAIN_X_V_MDS_train.csv"

df = pd.read_csv(data_file)
df.head()

,CUSTOMER_ID,PERIOD_ID,DATA_DT,TARGET_F,CUCMZZ_CUST_TYPE,CUCMZZ_MARITAL_STATUS,CUNMZZ_AGE_YEARS,CUNMZZ_DEP_COUNT_PRIM,CUNMZZ_INTERCH_INCOME,CUNMZZ_LENGTH_OF_RELATION,...,TRNYSL_ALL_CNT,TRNYSL_DEPOSITS_AMT,TRNYSL_TRAN_CONS_MAX,TWNHMA_HOUSEHOLD_INCOME,TWNHSL_HOUSEHOLD_INCOME,TWNQAV_HOUSEHOLD_INCOME,TWNQSL_HOUSEHOLD_INCOME,TWNYSL_HOUSEHOLD_FOOTINGS,VGNQMA_LOGS_MOB,VGNQSL_NBA_SHOWN
0,2.543400e+10,201710,2017-10-31,1,I,M,70.0,3.0,25.29,388.0,...,0.24,518.14,-247.2,0.0,0.0,0.0,0.0,-2355.84,17.0,6.0
1,4.647000e+08,201806,2018-06-30,0,O,NaN,NaN,2.0,0.00,302.0,...,-0.25,2970.48,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2,7.569010e+09,201802,2018-02-28,1,I,S,72.0,1.0,4.40,185.0,...,0.32,-6.15,0.0,0.0,0.0,0.0,0.0,-69.88,9.0,-6.0
3,5.662651e+10,201802,2018-02-28,1,I,S,32.0,0.0,0.00,164.0,...,0.00,0.00,0.0,220155.0,0.0,220155.0,0.0,0.00,0.0,0.0
4,3.747001e+08,201708,2017-08-31,0,I,O,71.0,NaN,0.00,217.0,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.00,0.0,0.0

In [3]:
from categorize import Categorizer

In [8]:
categorizer = Categorizer(df, 'TARGET_F')

In [9]:
colname = 'CUCMZZ_MARITAL_STATUS'

In [10]:
categorizer.get_likelihood(colname, categorical=True)

CUCMZZ_MARITAL_STATUS,D,F,M,O,P,S,W
CUCMZZ_MARITAL_STATUS,0.133778,0.154346,0.10702,-0.276104,0.100328,0.170214,0.056279

In [11]:
categorizer.categorize()

,CUSTOMER_ID,PERIOD_ID,DATA_DT,TARGET_F,CUCMZZ_CUST_TYPE,CUCMZZ_MARITAL_STATUS,CUNMZZ_AGE_YEARS,CUNMZZ_DEP_COUNT_PRIM,CUNMZZ_INTERCH_INCOME,CUNMZZ_LENGTH_OF_RELATION,...,TRNYSL_ALL_CNT,TRNYSL_DEPOSITS_AMT,TRNYSL_TRAN_CONS_MAX,TWNHMA_HOUSEHOLD_INCOME,TWNHSL_HOUSEHOLD_INCOME,TWNQAV_HOUSEHOLD_INCOME,TWNQSL_HOUSEHOLD_INCOME,TWNYSL_HOUSEHOLD_FOOTINGS,VGNQMA_LOGS_MOB,VGNQSL_NBA_SHOWN
0,2.543400e+10,201710,2017-10-31,1,I,M,higher,high,high,higher,...,high,higher,low,lower,low,lower,low,lower,high,high
1,4.647000e+08,201806,2018-06-30,0,O,NA,NA,mid,low,higher,...,low,higher,mid,NA,NA,NA,NA,NA,low,low
2,7.569010e+09,201802,2018-02-28,1,I,S,higher,low,high,high,...,higher,lower,mid,lower,low,lower,low,low,high,low
3,5.662651e+10,201802,2018-02-28,1,I,S,low,low,low,high,...,mid,lower,mid,higher,low,higher,low,mid,low,low
4,3.747001e+08,201708,2017-08-31,0,I,O,higher,NA,low,high,...,NA,NA,NA,lower,low,lower,low,mid,low,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,8.944101e+08,201712,2017-12-31,1,I,M,high,low,low,mid,...,lower,lower,mid,high,low,high,low,higher,low,low
99996,4.094950e+09,201803,2018-03-31,0,I,M,mid,mid,low,higher,...,mid,lower,mid,lower,low,lower,low,high,low,low
99997,7.463990e+10,201807,2018-07-31,1,I,S,low,mid,high,high,...,lower,higher,mid,NA,NA,NA,NA,NA,low,low
99998,6.370172e+10,201801,2018-01-31,1,I,S,lower,mid,low,lower,...,high,very low,high,low,low,low,low,low,low,low
99999,7.578090e+10,201807,2018-07-31,0,I,S,low,low,low,high,...,mid,lower,mid,lower,low,lower,low,mid,low,low

In [12]:
data_file = "/home/fra/Project/pyProj/mlib/data/data.csv"

df = pd.read_csv(data_file, na_values=['?'])
df.head()

,GCIS_KEY,PERIOD_ID,TARGET_F,MBNCZZ_CUST_INIT_TRAN_COUNT,MBNCZZ_CUR_OTH_DEP_AMT,CINCZZ_EXPLICIT_INCOME,MBNCZZ_CUR_SAL_CREDIT_AMT,MBNCZZ_ABS_SPOT_AMT,CPNCZZ_MFI_TRAN_COUNT,CUNCZZ_AGE_YEARS,...,CPBCZZ_ACCT_CLOSE_IND,MBNHMI_AVG_OTH_DEP_AMT,MBBHMI_EVERYDAY_BANKER_IND,TRNHDL_AVG_DEPOSIT_AMT,MBOHDL_QUALITY_DEP_IND,CONHDL_SECURITY_AMT,CFNHDL_CURRENT_LVR,MBNHIC_AVG_CUST_INIT_TRAN_C,CMNHDL_FULL_FI_AMT,TRNHSL_TOT_WITHDRAWAL_CNT
0,40554726,201805,0,41,380.00,3855.06,9272.93,14156.20,41,68,...,0,197.83,1,-154.18,0,0,0.0,40.83,-2.68,-2.91
1,91914018,201806,0,45,492.15,3174.62,11111.17,1935.03,45,58,...,0,818.96,1,-413.56,0,0,0.0,38.84,7.23,1.91
2,52451704,201807,0,106,0.00,0.00,1442.01,21127.10,106,40,...,0,192.70,1,-124.93,0,0,0.0,40.53,289.63,13.49
3,52296646,201807,0,121,2129.78,2107.72,11676.53,1748.23,118,47,...,0,1203.33,1,-212.11,0,0,0.0,72.17,10.20,9.17
4,55713846,201806,1,19,156.00,346.78,2901.22,151.83,19,42,...,0,20.00,1,-787.75,0,0,0.0,30.99,2.66,-9.34

In [13]:
categorizer = Categorizer(df, 'TARGET_F')

In [14]:
categorizer.categorize()

,GCIS_KEY,PERIOD_ID,TARGET_F,MBNCZZ_CUST_INIT_TRAN_COUNT,MBNCZZ_CUR_OTH_DEP_AMT,CINCZZ_EXPLICIT_INCOME,MBNCZZ_CUR_SAL_CREDIT_AMT,MBNCZZ_ABS_SPOT_AMT,CPNCZZ_MFI_TRAN_COUNT,CUNCZZ_AGE_YEARS,...,CPBCZZ_ACCT_CLOSE_IND,MBNHMI_AVG_OTH_DEP_AMT,MBBHMI_EVERYDAY_BANKER_IND,TRNHDL_AVG_DEPOSIT_AMT,MBOHDL_QUALITY_DEP_IND,CONHDL_SECURITY_AMT,CFNHDL_CURRENT_LVR,MBNHIC_AVG_CUST_INIT_TRAN_C,CMNHDL_FULL_FI_AMT,TRNHSL_TOT_WITHDRAWAL_CNT
0,40554726,201805,0,high,low,high,mid,mid,high,higher,...,No,very low,Yes,low,0,low,low,mid,low,lower
1,91914018,201806,0,high,low,high,high,low,high,high,...,No,lower,Yes,lower,0,low,low,mid,higher,high
2,52451704,201807,0,higher,lower,low,low,mid,higher,mid,...,No,very low,Yes,low,0,low,low,mid,higher,higher
3,52296646,201807,0,higher,mid,mid,high,low,higher,mid,...,No,high,Yes,low,0,low,low,high,higher,higher
4,55713846,201806,1,low,low,low,low,lower,low,mid,...,No,very low,Yes,lower,0,low,low,mid,high,lower
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,41687508,201806,0,higher,higher,high,high,low,higher,higher,...,No,higher,Yes,higher,0,low,low,higher,low,lower
1996,55906219,201807,0,low,low,low,low,lower,low,low,...,No,lower,No,low,1,low,low,mid,mid,low
1997,10597971,201806,1,high,higher,low,low,higher,high,higher,...,No,very low,No,lower,1,low,low,mid,higher,high
1998,53386627,201806,1,lower,mid,mid,low,lower,lower,low,...,No,high,Yes,mid,0,low,low,low,low,lower
1999,95448812,201807,1,lower,low,low,low,lower,lower,high,...,No,very low,No,high,0,low,low,lower,low,low